$color-main: #ffd86f;
$color-dark: #000000;
$color-white: #ffffff;

body {
    background-color: $color-main;
    text-transform: lowercase;
}

.nav-links {
    li {
        list-style-type: none;

        a {
            text-decoration: none;
            color: $color-white;

            &:hover {
                color: $color-main;
            }
        }
    }
}

.btn-custom {
    background: $color-dark;
    color: $color-white;
    border-radius: 30px;
    width: 200px;

    &:hover {
        color: $color-main;
    }
}